.border-round-4 {
  @include css3-prefix(border-radius, 4px);
}

.border-top {
  border-top: 1px solid $base-color !important;
}

.current-memorial-wrap {
  .nav-tabs {
    display: flex;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    background-color: transparent;
    font-size: 14px;
    box-shadow: none;
    .nav-link {
      border: none;
      border-bottom: 1px solid $base-color;
      color: $base-color;
      font-size: 16px;
      font-weight: bold;
    }
    .active {
      border-bottom: 2px solid $primary-color;
      color: $primary-color;
    }
  }
}
.banner-wrap {
  position: relative;
  width: 100%;
  .banner-caption {
    bottom: 50px;
    h1 {
      max-width: 50%;
      color: #000;
      font-size: 34px;
      font-weight: 600;
      text-align: center;
      @include push--auto;
    }
  }
  .caption-text {
    max-width: 50%;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    @include push--auto;
  }
}
.current-memorial-wrap {
  .tab-pane {
    img {
      padding-bottom: 10px;
    }
    span {
      display: inline-block;
      width: 100%;
      padding-bottom: 10px;
      color: $gray;
    }
    a {
      display: inline-block;
      width: 100%;
      padding-bottom: 5px;
      color: black;
      font-size: 22px;
      font-weight: 500;
    }
    p {
      svg {
        margin-right: 10px;
      }
    }
  }
}

.about-us-wrap {
  h2 {
    text-align: center;
  }
  .testimonial-carousel {
    a {
      span {
        margin-top: -60px;
        color: $base-color;
        font-size: 60px;
      }
    }
    .testimonial {
      p,
      span {
        color: $gray;
      }
      h4 {
        font-size: 20px;
        font-weight: 600;
      }
      p {
        color: $gray;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .testimonial-wrap {
    padding-top: 30px;
  }
  .section-title {
    font-size: 30px;
    font-weight: 100;
  }
}

.known-us-wrap {
  h4 {
    color: $gray;
    font-size: 16px;

  }
  .company-logos {
    margin-top: 20px;
  }
  .border-top {
    padding-top: 40px;
  }
}
