.border-raound-4 {
  @include css3-prefix(border-radius, 4px);
}
p {
  color: $gray;
}
body {
  .search-wrap {
    p {
      max-width: 40%;
      font-size: 16px;
      text-align: center;
    }
  }
  .current-memorial-wrap {
    h2 {
      padding: 20px;
      color: #000;
      font-size: 32px;
      font-weight: 700;
      text-align: center;
    }
    .nav-tabs {
      font-size: 14px;
      .nav-link {
        border: none;
        border-bottom: 1px solid $gray;
        color: $gray;
        font-size: 16px;
        font-weight: bold;
      }
      .active {
        border-bottom: 2px solid $primary-color;
        color: $primary-color;
      }
    }
  }
  .banner-wrap {
    .banner-caption {
      h1 {
        display: inline-block;
        max-width: 50%;
        color: $black;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}
