/**
* Form design
*/

input[type='text'],
input[type='email'],
input[type='password'],
input[type='number'],
input[type='tel'],
textarea,
select,
.resizable-textarea textarea,
.form-control {
  height: 45px;
  padding: 5px 10px;
  border: 2px solid $base-color;
  @include css3-prefix(box-sizing, border-box);
  color: $gray;
  font-size: 14px;
  @extend .border-round-4;
  @include input-placeholder {
    color: $gray;
  }
  &:focus {
    outline: none;
    &:not([readonly]) {
      border-bottom: none;
      background-color: $white;
      @include css3-prefix(box-shadow, none);
    }
  }
}
textarea {
  min-height: 140px;
}
.btn-blue {
  background-color: $primary-color;
}

.button {
  padding: 10px;
  padding-right: 20px;
  @extend .border-round-4;
  border: none;
  color: $white;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  @extend .btn-blue;
  cursor: pointer;
}
.btn-border {
  border: 2px solid $primary-color;
  background-color: $white;
  color: $primary-color;
  &:hover,
  &.active {
    background-color: $primary-color;
    color: $white;
  }
}

select {
  display: inline-block !important;
  height: 60px;
  width: 100%;
  padding: 10px;
  border: 2px solid $base-color;
  background-color: $white;
  background-image: url('../images/arrow-down.svg');
  background-size: 15px auto;
  background-repeat: no-repeat;
  background-position: right 15px center;
  color: $gray;
  @extend .border-round-4;
  @include css3-prefix(appearance, none);
}

