.header {
  border-bottom: 1px solid $gray;
  .navbar {
    box-shadow: none;
    a {
      img {
        display: inline-block;
        max-width: 110px;
      }
    }
    .right-nav {
      padding-top: 10px;
      ul {
        list-style-type: none;
        li {
          display: inline-block;
          a {
            display: inline-block;
            margin-right: 20px;
            color: $black;
            font-weight: 600;
            svg {
              margin-right: 10px;
              margin-left: 10px;
            }
          }
        }
      }
    }
    #navbarNav {
      ul {
        li {
          a {
            padding-right: 40px;
            color: $black;
          }
        }
      }
    }
  }
}
