/* --------------------------------------------------
	0.1 Settigns
-------------------------------------------------- */



/* ---- Colors ---- */
$white: #FFF;
$black: #000;
$primary-color: #1B8DFF; /* blue */
$base-color: #B6C0CA; /*gray*/
$gray: #748F9A; /*font*/
$black-70: #333;




$button-bg-color: #9E3F3F;
$button-color: $white;

/* ---- Label Colors ---- */
$label-red: #DB211E;
$label-green: #0BBE30;
$label-gray: #7E8C95;
$label-yellow: #FCD741;


/* ---- Text ---- */

// Font Family
$body-font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$heading-font: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
$alt-heading-font: 'Montserrat', 'Helvetica Neue', Helvetica, sans-serif;
$alt-heading-font1: 'Fira Sans', 'Helvetica Neue', Helvetica, sans-serif;

// Text Sizes
$base-font-size: 16px;
$base-weight: 400;
$line-hight: 1;
$letter-spacing: .2px;

// Heading Sizes
$heading-base-size: 30px;
$heading-weight: 400;

// Text Color
$base-text-color: #777;
$heading-text-color: $black;
$link-color: rgba($base-text-color, 1);



/* ---- White Space and widths---- */
$ws-xs: 50px;
$ws-s: 65px;
$ws-m: 100px;
$ws-l: 160px;

/* ---- Various Container widths ---- */
$container-s: 50%;
$container-m: 56%;
