/**
* Typography design
*/

/* Section title design */
.section-title {
  display: inline-block;
  width: 100%;
  color: $primary-color;
  font-size: 36px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-transform: uppercase;
  span {
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
    &::after,
    &::before {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 0;
      display: inline-block;
      height: 30px;
      width: 100%;
      background-image: url('../images/title-icon.png');
      background-position: center;
      background-repeat: no-repeat;
      content: '';
    }
    &::before {
      height: 1px;
      margin-bottom: 15px;
      background-color: $base-color;
    }
  }
}
/* End */

.sub-title {
  color: $base-color;
  font-size: 36px;
  font-weight: 700;
}

.title-sm {
  @extend .text-orange;
  font-size: 24px;
  font-weight: 600;
}

/* Bullet listing design */
.bullet-list {
  padding-left: 0;
  li {
    position: relative;
    margin-bottom: 15px;
    padding-left: 30px;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    list-style: none;
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      display: inline-block;
      height: 12px;
      width: 12px;
      margin-top: 6px;
      background-color: $primary-color;
      @include css3-prefix(border-radius, 50%);
      content: '';
    }
    ul {
      margin-top: 15px;
    }
  }
}
/* End */

/* Horizontal listing */
.listing-horizontal {
  li {
    float: left;
    display: inline-block;
    padding: 0 8px;
    border-right: 1px solid $primary-color;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}
/* End */


.list-title {
  @extend .text-blue;
  font-size: 18px;
  font-weight: 700;
}
