<footer class="footer">
  <div class="container">
    <div class="row mv-4">
      <div class="col-sm-6 col-md-3">
        <ul>
          <li><a href="">Uber uns</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Ziele</a></li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul>
          <li><a href="">Uber uns</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Ziele</a></li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul>
          <li><a href="">Uber uns</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Ziele</a></li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul>
          <li><a href="">Uber uns</a></li>
          <li><a href="">Mission</a></li>
          <li><a href="">Ziele</a></li>
          <li><a href="">Kontakt</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-footer pv-3">
      <ul class="links">
        <li><a href="">Datenschutzerklarung</a></li>
        <li><a href="">Impressum</a></li>
        <li><a href="">kontakt</a></li>
      </ul>
      <ul class="social-media">
        <li><a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-google" aria-hidden="true"></i></a></li>
        <li><a href=""><i class="fa fa-slack" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</footer>

  <script type="text/javascript" src="js/thirdparty/jquery-3.2.1.min.js"></script>
  <!-- Bootstrap tooltips -->
  <script type="text/javascript" src="js/thirdparty/popper.min.js"></script>
  <script type="text/javascript" src="js/thirdparty/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="js/thirdparty/mdb.min.js"></script>
  
  <!-- Scripts -->
  <script src="js/app.min.js" async="async"></script>