<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Home - School in abad</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">

      <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

      <!-- Fonts -->
      <!-- <link rel="stylesheet" href="fonts/et-lineicons/css/style.css">
      <link rel="stylesheet" href="fonts/linea-font/css/linea-font.css"> -->
      <link rel="stylesheet" href="font/fontawesome/css/font-awesome.min.css">
      <link href="css-thirdparty/bootstrap.min.css" rel="stylesheet">
      <link href="css-thirdparty/compiled.min.css" rel="stylesheet">
      <link href="css-thirdparty/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
  <header><% header %></header>

  <section class="sub-header">
    <ul class="breadcrumb">
      <li><a href="">Suche</a></li>
      <li><a href="">Expose</a></li>
    </ul>
    <ul class="pager-wrap">
      <li><a href="">vorheriges</a></li>
      <li><a href="">Ergebnisliste</a></li>
      <li><a href="">Nachstes</a></li>
    </ul>
  </section>
  <section class="banner-wrap">
    <img src="">
  </section>
  <section class="search-detail-wrap">
    <div class="sidebar">
      <ul>
        <li><a href="">Allgemein</a></li>
        <li><a href="">Informationen</a></li>
        <li><a href="">Bilder</a></li>
        <li><a href="">Ort</a></li>
        <li><a href="">Kontakt</a></li>
      </ul>
    </div>
    <div class="content-wrap">
    </div>
  </section>

  <% footer %>

  </body>
</html>
