<!doctype html>
<html class="no-js" lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>Home - School in abad</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
      <!-- Favicon -->
      <link rel="shortcut icon" href="favicon.ico">

      <link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">

      <!-- Fonts -->
      <!-- <link rel="stylesheet" href="fonts/et-lineicons/css/style.css">
      <link rel="stylesheet" href="fonts/linea-font/css/linea-font.css"> -->
      <link rel="stylesheet" href="font/fontawesome/css/font-awesome.min.css">
      <link href="css-thirdparty/bootstrap.min.css" rel="stylesheet">
      <link href="css-thirdparty/compiled.min.css" rel="stylesheet">
      <link href="css-thirdparty/mdb.min.css" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">

  </head>
  <body>
  <header><% header %></header>

  <!-- Search section -->
  <section class="inner-search-wrap container-fluid p-5">
    <div class="row">
      <div class="col-12 col-sm-8 col-md-8">
        <form class="search-form">
          <div class="form-select">
            <select>
              <option>Bedroht</option>
              <option>Bedroht</option>
              <option>Bedroht</option>
            </select>
          </div>
          <div class="form-item">
            <input type="text" name="" placeholder="Wo: Ort, Stadt, PLZ">
          </div>
          <div class="form-action">
            <button class="button bg-light-blue">Denkmal finden</button>
          </div>
        </form>
        <ul class="layout-tabs">
          <li data-target="list-view" class="button btn-border active">listenansich</li>
          <li data-target="map-view" class="button btn-border">kartenansicht</li>
        </ul>
      </div>
      <div class="col-12 col-sm-4 col-md-4">
        <div class="filter-wrap">
          <button class="button btn-border">Weitere Filter</button>
          <div class="sorting"><i class="fa fa-chevron-down" aria-hidden="true"></i> Standardsortierung</div>
        </div>
      </div>
    </div>
  </section>
  <!-- Search section -->

  <section class="search-page py-5">
    <div class="list-view-wrap layout-view active" id="list-view">
      <div class="list-view">
        <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="list-view">
        <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"></i> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="list-view">
        <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"></i> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="list-view">
        <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"></i> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="list-view">
          <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"></i> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="list-view">
          <img src="images/search-image.jpg">
        <div class="detail-wrap">
          <span>Akut bedroht</span>
          <h2>Altes Fensprechamt</h2>
          <p><img src="images/location.svg"></i> Eisenbahnstr. 1, Leipzig</p>
        </div>
      </div>
      <div class="pagination-wrap">
        <ul class="pagination">
          <li><a href=""><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">...</a></li>
          <li><a href="">8</a></li>
          <li><a href="">9</a></li>
          <li><a href=""><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        </ul>
        <div class="align-right">
          <a href="">Nachste Seite <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
    <div class="map-view-wrap layout-view p-5" id="map-view">
      <div class="">
        Coming soon
      </div>
    </div>
  </section>

  <% footer %>

  </body>
</html>
